<script>
	import '../app.css';
	import ToastsOverlay from '$cmp/toasts/ToastsOverlay.svelte';
	import Appbar from '$cmp/Appbar.svelte';
	import { app } from '$lib/firebase';
	import ModalsOverlay from '$cmp/modals/ModalsOverlay.svelte';
	import { onMount } from 'svelte';
	import { getAnalytics } from 'firebase/analytics';
	import { page } from '$app/stores';
	import { logs } from '$lib/logs';

	const locationChange = () => {
		logs.add({ msg: 'Page location changed', route: $page.route, url: $page.url.href }, 'info');
	};

	$: $page, locationChange();

	onMount(async () => {
		getAnalytics(app);
	});
</script>

<div class="relative">
	<Appbar />

	<slot />

	<ModalsOverlay />
	<ToastsOverlay />
</div>
<div class="invisible tooltip-bottom" />