<script>
	import { goto } from '$app/navigation';
	import { rc_mainPage_url } from '$lib/firebase';
	import { onMount } from 'svelte';

	var ptr = 'error';

	onMount(() => {
		const urlParams = new URLSearchParams(window.location.search);

		if (!urlParams.has('ptr')) {
			goto($rc_mainPage_url);
		}
		ptr = urlParams.get('ptr') || 'error';
	});
</script>

<div
	class="hero h-screen"
	style="background-image: url('https://daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.jpg');"
>
	<div class="hero-overlay bg-opacity-60" />
	<div class="hero-content text-center text-neutral-content">
		<div class="max-w-md">
			<h1 class="mb-5 text-5xl font-bold">Hello there</h1>
			<p class="mb-5">
				Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
				quasi. In deleniti eaque aut repudiandae et a id nisi. test
			</p>
			<a class="btn btn-primary" href={'/donate/' + ptr} data-sveltekit-reload>Donate</a>
		</div>
	</div>
</div>
