<script>
	export let links = {
		twitter: null,
		instagram: null,
		gitlab: null,
		matrix: null,
		gunivers: null,
		discordServer: null
	};
</script>

<div class="flex gap-3">
	{#if links.matrix != null}
		<a
			class="btn btn-circle btn-sm btn-outline"
			target="_blank"
			href={links.matrix}
			rel="noreferrer"
		>
			<svg class="w-5 h-5" viewBox="0 0 27.9 32">
				<g transform="translate(-.095 .005)" fill="currentColor">
					<path d="m27.1 31.2v-30.5h-2.19v-0.732h3.04v32h-3.04v-0.732z" />
					<path
						d="m8.23 10.4v1.54h0.044c0.385-0.564 0.893-1.03 1.49-1.37 0.58-0.323 1.25-0.485 1.99-0.485 0.72 0 1.38 0.14 1.97 0.42 0.595 0.279 1.05 0.771 1.36 1.48 0.338-0.5 0.796-0.941 1.38-1.32 0.58-0.383 1.27-0.574 2.06-0.574 0.602 0 1.16 0.074 1.67 0.22 0.514 0.148 0.954 0.383 1.32 0.707 0.366 0.323 0.653 0.746 0.859 1.27 0.205 0.522 0.308 1.15 0.308 1.89v7.63h-3.13v-6.46c0-0.383-0.015-0.743-0.044-1.08-0.0209-0.307-0.103-0.607-0.242-0.882-0.133-0.251-0.336-0.458-0.584-0.596-0.257-0.146-0.606-0.22-1.05-0.22-0.44 0-0.796 0.085-1.07 0.253-0.272 0.17-0.485 0.39-0.639 0.662-0.159 0.287-0.264 0.602-0.308 0.927-0.052 0.347-0.078 0.697-0.078 1.05v6.35h-3.13v-6.4c0-0.338-7e-3 -0.673-0.021-1-0.0114-0.314-0.0749-0.623-0.188-0.916-0.108-0.277-0.3-0.512-0.55-0.673-0.258-0.168-0.636-0.253-1.14-0.253-0.198 0.0083-0.394 0.042-0.584 0.1-0.258 0.0745-0.498 0.202-0.705 0.374-0.228 0.184-0.422 0.449-0.584 0.794-0.161 0.346-0.242 0.798-0.242 1.36v6.62h-3.13v-11.4z"
					/>
					<path d="m0.936 0.732v30.5h2.19v0.732h-3.04v-32h3.03v0.732z" />
				</g>
			</svg>
		</a>
	{/if}
	{#if links.twitter != null}
		<a
			class="btn btn-circle btn-sm btn-outline"
			target="_blank"
			href={links.twitter}
			rel="noreferrer"
		>
			<svg class="w-5" viewBox="0 0 24 24">
				<path
					fill="currentColor"
					d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z"
				/>
			</svg>
		</a>
	{/if}
	{#if links.instagram != null}
		<a
			class="btn btn-circle btn-sm btn-outline"
			target="_blank"
			href={links.instagram}
			rel="noreferrer"
		>
			<svg class="w-5" viewBox="0 0 24 24">
				<path
					fill="currentColor"
					d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z"
				/>
			</svg>
		</a>
	{/if}
	{#if links.gitlab != null}
		<a
			class="btn btn-circle btn-sm btn-outline"
			target="_blank"
			href={links.gitlab}
			rel="noreferrer"
		>
			<svg class="w-5" viewBox="0 0 24 24">
				<path
					fill="currentColor"
					d="M21.94 13.11L20.89 9.89C20.89 9.86 20.88 9.83 20.87 9.8L18.76 3.32C18.65 3 18.33 2.75 17.96 2.75C17.6 2.75 17.28 3 17.17 3.33L15.17 9.5H8.84L6.83 3.33C6.72 3 6.4 2.75 6.04 2.75H6.04C5.67 2.75 5.35 3 5.24 3.33L3.13 9.82C3.13 9.82 3.13 9.83 3.13 9.83L2.06 13.11C1.9 13.61 2.07 14.15 2.5 14.45L11.72 21.16C11.89 21.28 12.11 21.28 12.28 21.15L21.5 14.45C21.93 14.15 22.1 13.61 21.94 13.11M8.15 10.45L10.72 18.36L4.55 10.45M13.28 18.37L15.75 10.78L15.85 10.45H19.46L13.87 17.61M17.97 3.94L19.78 9.5H16.16M14.86 10.45L13.07 15.96L12 19.24L9.14 10.45M6.03 3.94L7.84 9.5H4.23M3.05 13.69C2.96 13.62 2.92 13.5 2.96 13.4L3.75 10.97L9.57 18.42M20.95 13.69L14.44 18.42L14.46 18.39L20.25 10.97L21.04 13.4C21.08 13.5 21.04 13.62 20.95 13.69"
				/>
			</svg>
		</a>
	{/if}
	{#if links.discordServer != null}
		<a
			class="btn btn-circle btn-sm btn-outline"
			target="_blank"
			href={links.discordServer}
			rel="noreferrer"
		>
			<svg class="w-5" viewBox="0 -28.5 256 256">
				<path
					fill="currentColor"
					d="M216.856339,16.5966031 C200.285002,8.84328665 182.566144,3.2084988 164.041564,0 C161.766523,4.11318106 159.108624,9.64549908 157.276099,14.0464379 C137.583995,11.0849896 118.072967,11.0849896 98.7430163,14.0464379 C96.9108417,9.64549908 94.1925838,4.11318106 91.8971895,0 C73.3526068,3.2084988 55.6133949,8.86399117 39.0420583,16.6376612 C5.61752293,67.146514 -3.4433191,116.400813 1.08711069,164.955721 C23.2560196,181.510915 44.7403634,191.567697 65.8621325,198.148576 C71.0772151,190.971126 75.7283628,183.341335 79.7352139,175.300261 C72.104019,172.400575 64.7949724,168.822202 57.8887866,164.667963 C59.7209612,163.310589 61.5131304,161.891452 63.2445898,160.431257 C105.36741,180.133187 151.134928,180.133187 192.754523,160.431257 C194.506336,161.891452 196.298154,163.310589 198.110326,164.667963 C191.183787,168.842556 183.854737,172.420929 176.223542,175.320965 C180.230393,183.341335 184.861538,190.991831 190.096624,198.16893 C211.238746,191.588051 232.743023,181.531619 254.911949,164.955721 C260.227747,108.668201 245.831087,59.8662432 216.856339,16.5966031 Z M85.4738752,135.09489 C72.8290281,135.09489 62.4592217,123.290155 62.4592217,108.914901 C62.4592217,94.5396472 72.607595,82.7145587 85.4738752,82.7145587 C98.3405064,82.7145587 108.709962,94.5189427 108.488529,108.914901 C108.508531,123.290155 98.3405064,135.09489 85.4738752,135.09489 Z M170.525237,135.09489 C157.88039,135.09489 147.510584,123.290155 147.510584,108.914901 C147.510584,94.5396472 157.658606,82.7145587 170.525237,82.7145587 C183.391518,82.7145587 193.761324,94.5189427 193.539891,108.914901 C193.539891,123.290155 183.391518,135.09489 170.525237,135.09489 Z"
				/>
			</svg>
		</a>
	{/if}
	{#if links.gunivers != null}
		<a
			class="btn btn-circle btn-sm btn-outline"
			target="_blank"
			href={links.gunivers}
			rel="noreferrer"
		>
			<svg class="w-5" viewBox="0 0 440 440">
				<g transform="matrix(1,0,0,1,-2250,-480)">
					<g transform="matrix(1.15847,0,0,2.58098,2216.12,426.499)">
						<g transform="matrix(0.863206,0,0,0.387449,452.428,-656.69)" fill="currentColor">
							<path
								d="M-389.304,1859.53C-387.746,1857.67 -386.15,1855.84 -384.523,1854.04L-384.361,1853.86L-392.564,1845.42L-403.906,1856.02L-439.042,1786.37L-373.455,1827.91L-385.413,1838.64L-377.249,1846.44C-359.597,1829 -338.525,1815.03 -315.145,1805.71L-317.985,1797.56C-318.552,1797.61 -319.124,1797.63 -319.702,1797.63C-331.12,1797.63 -340.39,1788.36 -340.39,1776.94C-340.39,1765.53 -331.12,1756.26 -319.702,1756.26C-308.283,1756.26 -299.013,1765.53 -299.013,1776.94C-299.013,1785.29 -303.967,1792.49 -311.093,1795.76L-308.497,1803.21C-289.292,1796.4 -268.663,1792.69 -247.189,1792.69C-243.974,1792.69 -240.772,1792.78 -237.58,1792.94C-236.888,1792.76 -236.272,1792.52 -235.722,1792.22C-233.783,1791.19 -232.682,1789.55 -231.984,1787.99C-231.244,1786.35 -230.943,1784.78 -230.637,1784.01C-230.481,1783.61 -230.217,1783.48 -230.043,1783.44C-229.832,1783.39 -229.58,1783.42 -229.354,1783.65C-229.217,1783.79 -229.047,1784.1 -228.89,1784.57C-228.335,1786.25 -227.624,1790.27 -226.78,1793.81C-225.433,1793.95 -224.09,1794.11 -222.752,1794.29C-222.343,1793.09 -221.865,1791.83 -221.275,1790.65C-220.333,1788.76 -219.104,1787.06 -217.462,1786.04C-217.243,1785.9 -216.955,1785.91 -216.761,1786.07C-216.566,1786.22 -216.515,1786.48 -216.636,1786.69C-217.722,1788.6 -218.652,1790.29 -219.048,1791.65C-219.302,1792.52 -219.351,1793.23 -218.968,1793.75C-218.578,1794.29 -217.772,1794.57 -216.467,1794.68C-215.749,1794.74 -215.066,1794.81 -214.469,1794.79C-214,1794.77 -213.59,1794.71 -213.294,1794.47C-212.99,1794.23 -212.832,1793.82 -212.783,1793.19C-212.722,1792.4 -212.85,1791.33 -213.202,1789.85C-213.259,1789.62 -213.127,1789.37 -212.884,1789.27C-212.641,1789.16 -212.352,1789.21 -212.187,1789.4C-210.01,1791.88 -209.669,1793.53 -209.487,1794.61C-209.438,1794.89 -209.405,1795.13 -209.344,1795.33C-209.307,1795.45 -209.265,1795.55 -209.174,1795.63C-209.012,1795.76 -208.747,1795.83 -208.325,1795.88C-207.249,1796.02 -206.379,1795.87 -205.693,1795.48C-204.635,1794.88 -204.033,1793.73 -203.728,1792.32C-202.896,1788.47 -204.328,1782.69 -206.438,1779.11C-206.579,1778.87 -206.487,1778.57 -206.228,1778.42C-205.969,1778.27 -205.632,1778.33 -205.458,1778.55C-201.377,1783.72 -201.202,1785.24 -200.576,1788.74C-200.142,1791.17 -199.952,1795.23 -199.866,1798.74L-199.762,1798.77C-198.155,1792.75 -195.381,1784.69 -195.381,1784.69C-195.288,1784.42 -194.981,1784.26 -194.684,1784.33C-194.386,1784.39 -194.205,1784.66 -194.272,1784.93C-195.939,1791.71 -195.975,1796.38 -195.201,1800.01L-195.069,1800.05L-194.808,1800.12C-194.454,1798.24 -193.888,1795.92 -193.037,1794.11C-192.568,1793.11 -192.008,1792.27 -191.364,1791.71C-190.872,1791.29 -190.328,1791.02 -189.738,1790.93C-189.58,1790.91 -189.421,1790.95 -189.299,1791.04C-189.176,1791.13 -189.102,1791.26 -189.093,1791.4C-189.093,1791.4 -188.532,1800.44 -188.445,1801.06C-188.426,1801.2 -188.391,1801.34 -188.357,1801.45C-188.216,1801.3 -188.029,1801.07 -187.887,1800.85C-187.118,1799.65 -186.199,1797.69 -185.377,1796.22C-185.262,1796.02 -185.015,1795.9 -184.767,1795.93C-184.519,1795.96 -184.328,1796.14 -184.297,1796.37C-184.167,1797.29 -184.764,1800.97 -185.152,1803.2C-183.54,1803.76 -181.938,1804.34 -180.349,1804.94C-178.309,1802.54 -177.106,1799.45 -175.633,1796.11C-173.977,1792.34 -172,1788.26 -168.263,1784.4C-167.106,1783.21 -164.097,1781.49 -164.097,1781.49C-163.867,1781.36 -163.57,1781.39 -163.382,1781.56C-163.195,1781.74 -163.166,1782 -163.315,1782.21C-163.315,1782.21 -167.17,1787.55 -169.257,1794.38C-170.208,1797.5 -169.846,1800.34 -169.805,1802.96C-169.773,1805.02 -169.934,1806.95 -170.95,1808.78L-170.35,1809.05L-170.174,1809.13L-164.462,1804.32C-164.265,1804.15 -163.968,1804.13 -163.747,1804.26C-163.526,1804.4 -163.439,1804.65 -163.537,1804.88C-163.537,1804.88 -165.266,1808.83 -165.321,1811.37C-164.416,1811.81 -163.514,1812.25 -162.619,1812.7C-161.802,1812.46 -161.074,1812.11 -160.449,1811.61C-158.875,1810.36 -157.97,1808.24 -157.834,1804.98C-157.724,1802.35 -159.033,1798.23 -159.033,1798.23C-159.117,1797.96 -158.952,1797.68 -158.659,1797.59C-158.367,1797.5 -158.05,1797.63 -157.941,1797.89C-157.941,1797.89 -154.416,1806.31 -154.237,1813.36C-154.204,1814.63 -154.285,1815.87 -154.51,1817L-153.626,1817.5L-153.473,1817.59C-151.309,1814.59 -149.199,1810.58 -147.327,1807.45C-147.184,1807.21 -146.864,1807.11 -146.591,1807.22C-146.317,1807.32 -146.181,1807.6 -146.276,1807.85C-148.078,1812.67 -148.41,1816.41 -148.102,1818.49C-147.992,1819.24 -147.839,1819.75 -147.594,1819.95C-147.311,1820.18 -147.114,1820.32 -146.898,1820.3C-146.654,1820.28 -146.436,1820.11 -146.142,1819.89C-144.886,1818.95 -142.898,1816.98 -137.754,1815.56C-137.483,1815.49 -137.195,1815.6 -137.073,1815.83C-136.952,1816.06 -137.033,1816.33 -137.265,1816.48C-138.122,1817.03 -139.652,1818 -140.639,1819.25C-141.536,1820.39 -141.96,1821.78 -140.789,1823.28C-139.902,1824.42 -138.539,1825.5 -137.855,1827.57C-132.864,1831.12 -128.073,1834.9 -123.502,1838.9L-171.723,1900.23C-190.655,1883.53 -215.461,1873.39 -242.604,1873.39C-301.933,1873.39 -350.1,1921.8 -350.1,1981.42C-350.1,2041.04 -301.933,2088.06 -242.604,2088.06C-220.127,2088.06 -187.217,2071.43 -175.423,2042.43L-257.329,2042.43L-178.876,1962.59L-90.534,1962.59C-89.99,1968.38 -90.534,2006.23 -90.534,2012.16C-90.534,2043.43 -95.253,2085.79 -123.925,2118.31L-118.637,2124.53C-115.834,2123.11 -112.662,2122.31 -109.305,2122.31C-97.887,2122.31 -88.617,2131.58 -88.617,2143C-88.617,2154.41 -97.887,2163.68 -109.305,2163.68C-120.724,2163.68 -129.994,2154.41 -129.994,2143C-129.994,2137.5 -127.843,2132.49 -124.338,2128.79L-128.814,2123.53C-135.129,2129.85 -142.454,2135.73 -150.952,2140.99C-179.372,2158.6 -211.332,2166.26 -247.189,2166.26C-273.972,2166.26 -299.44,2160.59 -322.46,2150.38C-323.093,2151.37 -324.187,2152.39 -326.407,2153.65C-326.583,2153.75 -326.807,2153.7 -326.929,2153.54C-327.051,2153.38 -327.034,2153.15 -326.888,2153.01C-325.51,2151.67 -325.673,2150.02 -326.187,2148.68C-327.051,2148.27 -327.911,2147.86 -328.765,2147.44C-331.738,2150.02 -335.422,2152.91 -336.299,2153.3C-336.593,2153.44 -336.799,2153.36 -336.879,2153.3C-336.995,2153.22 -337.084,2153.09 -337.056,2152.88C-337.045,2152.8 -336.992,2152.65 -336.845,2152.45C-336.64,2152.18 -336.202,2151.69 -335.473,2150.96C-334.531,2150.02 -334.186,2148.16 -334.367,2146.35C-334.437,2145.66 -334.583,2144.97 -334.811,2144.35C-335.664,2143.89 -336.513,2143.43 -337.359,2142.96C-337.573,2143.5 -337.7,2144.08 -337.741,2144.29C-338.468,2147.98 -340.094,2151.06 -343.707,2153.27C-345.969,2154.66 -350.405,2154.8 -350.405,2154.8C-350.606,2154.8 -350.78,2154.66 -350.814,2154.46C-350.847,2154.26 -350.729,2154.07 -350.537,2154.01C-350.537,2154.01 -345.989,2152.6 -344.355,2149.62C-343.324,2147.75 -343.385,2144.93 -343.548,2143.28C-343.583,2143.32 -343.62,2143.36 -343.657,2143.4C-344.541,2144.41 -346.035,2145.25 -346.035,2145.25C-346.158,2145.32 -346.309,2145.32 -346.432,2145.25C-346.555,2145.18 -346.632,2145.05 -346.636,2144.91L-346.838,2137.32L-347.079,2137.16L-347.405,2136.95C-348.753,2139.76 -351.072,2144.03 -353.794,2146.76C-353.935,2146.9 -354.159,2146.91 -354.319,2146.8C-354.48,2146.68 -354.529,2146.46 -354.436,2146.28C-351.985,2141.68 -353.026,2141.13 -353.154,2138.36C-353.252,2136.24 -353.28,2134.74 -353.287,2133.93C-354.052,2134.4 -355.377,2135.38 -355.956,2136.8C-357.142,2139.72 -359.61,2146.76 -359.61,2146.76C-359.663,2146.91 -359.801,2147.02 -359.96,2147.03C-360.12,2147.04 -360.272,2146.96 -360.347,2146.82C-360.513,2146.51 -360.754,2145.46 -360.98,2144.06C-361.489,2140.89 -361.989,2135.82 -361.727,2133.43C-361.568,2131.97 -361.596,2131 -361.733,2130.37C-361.839,2129.88 -361.992,2129.62 -362.189,2129.51C-362.321,2129.44 -362.46,2129.45 -362.573,2129.46C-362.699,2129.47 -362.806,2129.49 -362.882,2129.5C-362.906,2129.5 -362.93,2129.5 -362.95,2129.5C-366.222,2131.27 -368.841,2131.49 -369.708,2137.08C-370.473,2142.01 -369.493,2145.42 -369.493,2145.42C-369.448,2145.57 -369.499,2145.74 -369.623,2145.84C-369.746,2145.94 -369.918,2145.96 -370.062,2145.89C-370.062,2145.89 -373.831,2144.08 -372.863,2135.69C-372.607,2133.47 -371.109,2127.24 -370.702,2123.26C-370.6,2122.27 -370.566,2121.43 -370.642,2120.83C-370.679,2120.54 -370.721,2120.31 -370.838,2120.2C-370.916,2120.13 -370.98,2120.08 -371.053,2120.08C-371.139,2120.09 -371.214,2120.16 -371.299,2120.24C-371.423,2120.37 -371.546,2120.54 -371.674,2120.75C-372.822,2122.62 -374.17,2127.07 -376.929,2129.74C-380.656,2133.35 -385.696,2136.44 -385.696,2136.44C-385.871,2136.55 -386.099,2136.5 -386.225,2136.34C-386.351,2136.18 -386.337,2135.95 -386.191,2135.81C-386.191,2135.81 -382.96,2132.61 -380.479,2128.05C-378.934,2125.21 -377.8,2122.41 -377.965,2116.16C-377.965,2116.16 -378.044,2113.2 -378.044,2113.2L-385.047,2120.58C-385.18,2120.72 -385.394,2120.75 -385.557,2120.64C-385.72,2120.54 -385.786,2120.34 -385.716,2120.16C-385.716,2120.16 -384.493,2117.04 -383.914,2114.48C-383.595,2113.07 -382.013,2110.26 -383.269,2107.04C-386.973,2103.07 -390.501,2098.94 -393.847,2094.66L-402.833,2100.97L-393.348,2112.99L-465.624,2141.76L-417.68,2080.19L-408.771,2093.32L-399.898,2086.47L-400.04,2086.27C-401.371,2084.35 -402.67,2082.41 -403.93,2080.45C-406.406,2076.59 -408.739,2072.63 -410.923,2068.6C-416.274,2058.72 -420.724,2048.36 -424.196,2037.67C-427.559,2027.32 -430.002,2016.68 -431.495,2005.9C-432.727,1997 -433.315,1988.01 -433.259,1979.02C-435.489,1978.5 -438.918,1977.68 -438.507,1977.07C-437.975,1976.28 -435.058,1975.69 -434.613,1974.71C-435.554,1974.27 -436.939,1973.61 -437.605,1973.13C-437.962,1972.88 -438.207,1972.66 -438.163,1972.15C-438.109,1971.51 -435.301,1970.78 -435.263,1970.76C-435.43,1970.64 -436.603,1969.74 -436.783,1969.41C-436.949,1969.1 -436.998,1968.78 -436.877,1968.43C-436.713,1967.95 -436.12,1967.21 -435.768,1966.43C-435.516,1965.88 -433.979,1965.36 -434.481,1964.81C-437.361,1961.7 -438.607,1959.47 -440.469,1958.28C-442.842,1956.76 -444.992,1955.89 -447.379,1956.11C-449.028,1956.25 -451.698,1957.08 -451.944,1957.13C-452.586,1957.28 -452.64,1956.66 -452.426,1956.4C-451.028,1954.7 -448.628,1953.24 -445.628,1952.53C-444.03,1952.15 -441.02,1952.06 -439.522,1951.87L-439.499,1951.87C-440.395,1951.16 -442.066,1950.02 -443.345,1949.26C-443.994,1948.88 -446.659,1947.93 -446.659,1947.93C-446.87,1947.85 -447.185,1947.27 -446.515,1947.04C-445.586,1946.73 -439.722,1946.54 -438.073,1946.84C-437.083,1947.02 -436.528,1946.98 -436.199,1946.77C-435.952,1946.61 -435.486,1945.01 -435.416,1944.87C-434.997,1944.02 -438.62,1943.13 -439.347,1943.23C-439.726,1943.28 -439.835,1942.74 -439.598,1942.6C-439.475,1942.52 -435.613,1941.56 -434.92,1941.33C-434.814,1941.29 -433.567,1940.39 -434.521,1939.61C-435.39,1938.9 -436.167,1938.21 -436.477,1937.76C-436.654,1937.5 -436.905,1936.95 -436.324,1936.94C-435.482,1936.91 -434.623,1936.92 -433.999,1936.14C-433.599,1935.25 -433.367,1933.14 -438.718,1930.63C-442.599,1928.81 -445.072,1928.86 -449.353,1929.39C-449.877,1929.45 -450.422,1928.9 -449.633,1928.48C-446.297,1926.7 -441.718,1927.55 -438.642,1928.39C-434.368,1929.55 -429.079,1932.98 -427.513,1934.06L-427.47,1933.89L-427.433,1933.75C-429.244,1932.49 -432.282,1930.57 -435.027,1928.14C-436.704,1926.65 -439.152,1923.3 -439.201,1922.94C-439.274,1922.42 -438.653,1922.16 -438.336,1922.59C-436.693,1924.79 -433.888,1926.22 -432.204,1927.35C-429.932,1928.88 -428.241,1928.08 -427.478,1927.31C-427.328,1927.16 -427.199,1926.97 -427.141,1926.87C-427.532,1926.06 -428.612,1924.95 -429.228,1924.36C-429.657,1923.96 -433.921,1920.25 -434.674,1919.39C-435.337,1918.63 -434.583,1918.09 -434.093,1918.55C-432.114,1920.38 -428.109,1921.23 -427.153,1921.38C-426.608,1920.88 -426.86,1920.13 -427.314,1919.37C-428.208,1917.89 -430.033,1916.38 -430.702,1916.13C-431.25,1915.92 -431.352,1915.39 -430.653,1915.21C-429.392,1914.88 -428.035,1915.45 -427.015,1915.8C-426.793,1915.87 -426.204,1915.98 -426.19,1915.96C-425.986,1915.69 -426.235,1914.5 -426.387,1914.18C-426.819,1913.26 -427.455,1912.16 -427.777,1910.8C-427.89,1910.33 -427.509,1909.95 -426.924,1910.4C-425.955,1911.13 -425.574,1911.77 -425.049,1911.85C-423.857,1912.04 -423.514,1910.62 -423.466,1910.42C-423.583,1909.75 -423.762,1909.68 -425.689,1906.63C-427.666,1903.51 -428.353,1899.72 -428.396,1898.09C-428.43,1896.8 -428.004,1896.13 -427.372,1897.06C-424.789,1900.86 -422.607,1902.41 -420.604,1902.64C-419.312,1902.78 -418.115,1902.37 -416.963,1901.7C-416.823,1901.62 -416.342,1901.39 -415.766,1901.11C-415.431,1900.39 -415.092,1899.67 -414.747,1898.95C-415.898,1897.84 -417.194,1896.67 -418.725,1895.81C-418.957,1895.67 -420.658,1894.76 -421.333,1894.27C-422.251,1893.59 -421.603,1892.91 -421.135,1892.82C-420.666,1892.72 -416.797,1894.06 -415.6,1894.12C-415.414,1894.12 -414.93,1893.76 -414.986,1893.56C-416.378,1888.55 -418.422,1884.03 -422.736,1882.75C-427.809,1881.25 -430.617,1882.24 -433.66,1882.36C-434.339,1882.38 -434.36,1881.7 -433.915,1881.45C-430.778,1879.68 -426.455,1879.02 -422.674,1879.57C-420.278,1879.92 -417.231,1881.25 -414.905,1882.66C-413.317,1883.62 -410.9,1886.29 -410.535,1886.62C-410.451,1886.7 -410.013,1886.04 -410.127,1885.48C-410.269,1884.8 -410.59,1883.97 -411.03,1882.97C-411.587,1881.71 -412.285,1878.39 -411.738,1876.52C-411.587,1876.01 -410.921,1876.03 -410.804,1876.55C-410.297,1878.83 -409.245,1879.81 -408.906,1880.1C-408.086,1880.83 -407.156,1881.1 -406.951,1881.05C-406.748,1881 -405.842,1880.15 -406.252,1878.46C-406.443,1877.67 -408.54,1872.48 -408.57,1871.33C-408.583,1870.82 -407.95,1870.62 -407.677,1871.07C-406.546,1872.89 -406.324,1873.16 -405.116,1874.01C-403.985,1874.8 -402.755,1874.76 -401.455,1873.84C-400.862,1873.42 -400.351,1872.21 -399.999,1871.29C-399.781,1870.73 -399.666,1869.87 -400.061,1869.2C-400.456,1868.53 -401.136,1867.41 -401.739,1865.74C-401.956,1865.14 -401.443,1864.85 -400.991,1865.19C-400.206,1865.8 -399.104,1866.65 -398.187,1867.15C-397.913,1867.3 -397.659,1867.41 -397.438,1867.47C-397.331,1867.5 -397.243,1867.54 -397.179,1867.51C-396.892,1867.35 -396.79,1867.11 -396.765,1866.82C-396.741,1866.56 -397.502,1865.12 -396.884,1863.39C-396.395,1862.02 -394.561,1859.37 -391.252,1859.42C-390.869,1859.42 -390.445,1859.24 -389.653,1859.41C-389.521,1859.44 -389.405,1859.48 -389.304,1859.53Z"
							/>
						</g>
					</g>
				</g>
			</svg>
		</a>
	{/if}
</div>
